.clothes-pics {
    margin-bottom: 30px;

    figure {
        margin-right: 20px;
        position: relative;
        display: inline-block;
        left: 1.6%;
        margin-bottom: 20px;
        opacity: 0;
        transform: translateX(20);
        transition: all 0.4s ease-in-out;
        overflow: hidden;
        border-radius: 6px;
        cursor: pointer;

        &.is-showing {
            opacity: 1;
            transform: translateX(0);
        }

        img {
            width: 190px;
            display: block;
            transform: scale(1);
            transition: all 0.6s ease-in-out;
            border-radius: 6px;
        }

        &:hover {
            figcaption {
                left: 0%;
            }

            img {
                transform: scale(1.2);
            }
        }

        figcaption {
            position: absolute;
            top: 0;
            bottom: 0;
            left: -130%;
            background-color: rgba(0,0,0,.5);
            color: #fff;
            padding: 110px 11px;
            font-size: 18px;
            transition: all 0.4s ease-in-out;

            a {
                color: #fff;
                text-decoration: none;
                font-size: 14px;
                line-height: 52px;
                padding: 8px 14px;
                border: 1px solid #fff;
                border-radius: 6px;
            }
        }
    }
}