.large-window {
    height: 600px;
    background: url(../../images/man4.png);
    background-position: center 0px;
    background-repeat: repeat-y;
    background-attachment: fixed;
    margin-top: 50px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 40px;
}